a, .sec-contact .btn {
    transition: all 0.25s;
}
/*=Typography=*/
html {
    font-size: 16px;
}
body {
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
}
.navbar a, .sec-about p {
    /*text-align: center;*/
}
.navbar a {
    font-size: 16px;
}
.navbar .fa-external-link {
    font-size: 10px;
}
.main-heading {
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    text-align: center;
    letter-spacing: 9px;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 0;
    margin: auto;
    height: 40px;
    color: #fff;
}

.slogan {
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    text-align: center;
    letter-spacing: 9px;
    /*text-transform: uppercase;*/
    position: absolute;
    top: 10;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 0;
    margin: auto;
    height: 230px;
    color: #fff;
}
.darkmode--activated p, .darkmode--activated #services {
    color: #fff;
  }
  .darkmode--activated , .darkmode--activated #services h1 {
    color: #000;
  }
  #scroll {
      position:fixed;
      right:40px;
      bottom:40px;
      cursor:pointer;
      width:50px;
      height:50px;
      background-color:#0390fc;
      text-indent:-9999px;
      display:none;
      -webkit-border-radius:60px;
      -moz-border-radius:60px;
      border-radius:60px
      z-index: 999;
  }
  #scroll span {
      position:absolute;
      top:50%;
      left:50%;
      margin-left:-8px;
      margin-top:-12px;
      height:0;
      width:0;
      border:8px solid transparent;
      border-bottom-color:#ffffff;
  }
  #scroll:hover {
      background-color:#e74c3c;
      opacity:1;filter:"alpha(opacity=100)";
      -ms-filter:"alpha(opacity=100)";
  }
.container > h1 {
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}
p {
    font-size: 16px;
    line-height: 1.5;
}
.sec-about a {
   /* text-decoration: underline;*/
}
.sec-services h2, .sec-services p {
    font-weight: 300;
    text-align: center;
}
.sec-testimonials p {
    font-style: italic;
}
.sec-contact .btn {
    text-transform: uppercase;
}
.soc-media-ul a {
    text-align: center;
    text-decoration: none;
}
/*=Base=*/
section {
    padding: 4em 0;
}
footer {
    padding: 3em 0;
}
@media screen and (max-width: 768px) and (min-width: 485px) {
    form {
        max-width: 70%;
   }
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
hr {
    margin-bottom: 3em;
    width: 7%;
}
/*=Layout=*/
.sec-folio .row {
    margin-bottom: 3em;
}
.sec-folio img {
    max-width: 100%;
}
/*Header*/
.navbar-default {
    background: #fff;
}
.navbar .fa-external-link {
    vertical-align: top;
}
.navbar-default .navbar-nav li:hover {
    background-color: #0390fc;
    color: #fff;
}
.navbar-default .navbar-nav li a:hover {
    color: #fff;
}
/*Main*/
.sec-main {
    position: relative;
    height: 560px;
    background: url(../images/cover2.jpg) no-repeat center center;
    background-size: cover;
}
.sec-main .social {
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    text-align: center;
    letter-spacing: 9px;
    position: absolute;
    top: 10;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 0;
    margin: auto;
    height: 165px;
    color: #fff;
}
.sec-main:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

/*About*/
.sec-about a {
    color: #000;
}
.sec-about a:hover, .sec-about a:focus {
    color: #ad0000;
}
/*Services*/
.sec-services {
    background: #f9f9f9;
}
.sec-services i {
    display: block;
    margin: auto;
    width: 45px;
}
.sec-services .fa-paint-brush {
    width: 64px;
}
.sec-services .fa-code {
    width: 68px;
}
.sec-services h2 {
    margin: 1em 0;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #skills .container .row h1 {
        font-size: small;
    }
}

/*Testimonials*/
.sec-testimonials {
    background: #f9f9f9;
}
/*Contact*/
.sec-contact .form-control:focus {
    border-color: #ad0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(173, 0, 0, .6);
}
.sec-contact .btn {
    padding: 0.5rem 1.75rem;
    background: #000;
    font-size: 0.95rem;
    color: #fff;
}
.sec-contact .btn:hover, .sec-contact .btn:focus {
    background: #ad0000;
    border-color: #7a0000;
}
/*Footer*/
footer {
    background: #000;
}
.soc-media-ul {
    display: flex;
    justify-content: center;
}
.soc-media-ul li:not(:first-child) a {
    margin-left: 1em;
}
.soc-media-ul a {
    display: block;
    padding: 0.5em 0.65rem;
    font-size: 1rem;
    color: #fff;
    border-radius: 50%;
    border: 2px solid;
}
.soc-media-ul a:hover, .soc-media-ul a:focus {
    color: #ad0000;
}
